body {
  margin: 0;
}

#root {
  background-color: #fff;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.stock-list-section {
  display: grid;
  grid-template-columns: auto auto;
}



.card-container {
  position: relative;
  color: #fff;
}

.arrow-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.stock-container-all {
  display: flex;
  flex-direction: column;
}

.header-section-container{
  width: 100%;
}
